*{
    margin:0;
    padding:0;
}
.container
{
    background-color: #5078B4;
    padding-bottom:40rem;
}
.hidden
{
    display: none;
}
.heading
{
    text-align: center;
    padding-top: 3rem;
}
.players
{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top:5rem;
}
.player-1,.computer
{
    font-weight: bold;
    padding-top: 1rem;
    width: 198px;
    height: 135px;
    background-color: #D77373;
    border-radius: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.winner
{
    margin-top: 3rem;
    text-align: center;
}
.buttons
{
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}
button
{
    border-radius: 23px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
}
.game
{
    display: none;
}
.playagain
{
    text-align: center;
    margin-top: 2rem;
    background-color: black;
    color: white;
    padding: 10px 25px;
}
#end
{
    text-align: center;
    margin-top: 2rem;
}